/* Reset styles */
body, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}
.logo img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid white; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.logo a {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}


.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links li a {
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #00bcd4;
}


/* Hamburger Menu (Optional) */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}
/* main content */
.welcome-section {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex: 2;
}
.welcome-section h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}
.welcome-section p {
    font-size: 1.5rem;
    color: #666;
}
.button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #00bcd4;
    color: white;
    border-radius: 10px;
    border: 5px solid #00bcd4;
    transition: background-color 0.3s ease;
    font-size: 2rem;
}
.button:hover {
    background-color: #926717;
    border: 5px solid #926717;
}
/* Footer styling */

/* Responsive Design */
@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        background-color: #444;
        padding: 1rem;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: none; 
    }

    .nav-links.show {
        display: flex; 
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none; 
    }
}
